<div #tableContainer class="table-container">
	<table>
		<thead>
			<ng-container *ngTemplateOutlet="headerTpl; context: { columns: columns }"></ng-container>
		</thead>

		<tbody>
			<ng-container *ngIf="data?.length; else emptyBlock">
				<ng-container *ngFor="let row of data">
					<ng-container *ngTemplateOutlet="rowTpl; context: { row: row, columns: columns }"></ng-container>
				</ng-container>
			</ng-container>

			<ng-template #emptyBlock>
				<ng-container *ngTemplateOutlet="noDataTpl; context: { columns: columns }"></ng-container>
			</ng-template>
		</tbody>
	</table>
</div>
