.table-container {
	overflow: auto;
	position: relative;
	// border: 1px solid $color-border;
	// border-radius: 4px;
	height: 100%;
	background: #fff;
}

table {
	width: max-content;
	position: relative;
	border-collapse: separate;
	border-spacing: 0;

	thead {
		position: sticky;
		top: 0;
		z-index: map-get($zindexs, thead);

		tr > th {
			position: relative;
			border-bottom: 1px solid $color-border;
			border-right: 1px solid $color-border;
			&:last-child {
				border-right: none;
			}
		}
	}

	tbody {
		tr > td {
			max-width: 0;

			border-bottom: 1px solid $color-border;
			border-right: 1px solid $color-border;

			&:last-child {
				border-right: none;
			}
		}

		tr:last-child > td {
			border-bottom: none;
		}
	}

	th,
	td {
		position: relative;
		padding: 8px;
		white-space: nowrap;
		background: #fff;

		&.sticky-cell {
			position: sticky;
			z-index: map-get($zindexs, sticky-cell);
		}
	}

	.resize-handle {
		position: absolute;
		right: 0;
		top: 0;
		width: 5px;
		height: 100%;
		cursor: col-resize;
		user-select: none;
	}
}

body.resizing {
	cursor: col-resize;
	user-select: none;
}
