<div class="yee-tab-wrapper">
	<div class="yee-tab-container">
		<button class="scroll-btn left" (click)="scrollLeft()">&lt;</button>

		<div class="tab-scroll-area" #scrollContainer>
			<div
				*ngFor="let tab of tabs; let tabIndex = index"
				class="tab-item"
				[class.active]="isActive(tab.path)"
				[class.disabled]="tab.disabled"
				(click)="!tab.disabled && navigate(tab.path)"
				draggable="true"
				(dragstart)="onDragStart($event, tabIndex)"
				(dragend)="onDragEnd($event)"
				(dragover)="allowDrop($event)"
				(drop)="onDrop(tabIndex)"
			>
				<i *ngIf="tab.icon" class="material-icons icon">{{ tab.icon }}</i>
				<span>{{ tab.label }}</span>
				<span *ngIf="tab.badge" class="badge">{{ tab.badge }}</span>
				<button *ngIf="tab.closable" class="close-btn" (click)="$event.stopPropagation(); closeTab(tab)">✕</button>
			</div>
		</div>

		<button class="scroll-btn right" (click)="scrollRight()">&gt;</button>
	</div>

	<div class="yee-tab-content">
		<ng-content></ng-content>
	</div>
</div>
