<div class="sidebar" [class.active]="isOpen">
	<div
		class="sidebar-header"
		style="display: grid; grid-template-columns: max-content 1fr; align-items: center; border-bottom: 1px solid #ddd"
	>
		<div style="height: 100%; cursor: pointer; width: 48px; display: grid; place-items: center" (click)="toggle()">
			<yee-hamburger></yee-hamburger>
		</div>

		<h1 *ngIf="isOpen" style="height: 100%; align-content: center; padding: 8px; font-weight: bold">Project</h1>
	</div>

	<div class="sidebar-body">
		<details *ngFor="let group of groupList; let groupIndex = index" class="menu">
			<summary class="menu-item">
				<div class="menu-header">
					<span class="menu-icon">
						<i>&hearts;</i>
					</span>
					<span *ngIf="isOpen" class="truncate">{{ group.name }}</span>
				</div>
			</summary>

			<div *ngIf="isOpen" style="margin-left: 16px">
				<details *ngFor="let project of projectList; let projectIndex = index" class="menu">
					<summary class="menu-item">
						<div class="menu-header">
							<span class="menu-icon">
								<i>&diams;</i>
							</span>
							<span class="truncate">
								{{ project.name + '(' + project.dueDate + ')' }}
							</span>
						</div>

						<div>
							<progress [value]="project.progress" max="100" style="width: 100%"></progress>
						</div>
					</summary>

					<div *ngIf="isOpen" style="margin-left: 16px">
						<div *ngFor="let document of documentLst; let documentIndex = index" class="menu">
							<div class="menu-item" (click)="selectDocument(group.id, project.id, document.id)">
								<div class="menu-header">
									<span class="menu-icon">
										<i>&spades;</i>
									</span>
									<span class="truncate">
										{{ document.name }}
									</span>
								</div>

								<div style="font-size: 14px">
									<p>{{ 'Due Date:' + document.dueDate }}</p>
								</div>

								<div>
									<progress [value]="project.progress" max="100" style="width: 100%"></progress>
								</div>
							</div>
						</div>
					</div>
				</details>
			</div>
		</details>
	</div>
</div>
